---
import TypescriptSvg from '@/assets/svgs/technologies/typescript-svg'
import PlaywriteSvg from '@/assets/svgs/technologies/playwright-svg'
import GithubActionsSvg from '@/assets/svgs/technologies/github-actions-svg'
import JestSvg from '@/assets/svgs/technologies/jest-svg'
import ReactNativeSvg from '@/assets/svgs/technologies/react-native-svg'
import FigmaSvg from '@/assets/svgs/technologies/figma-svg'
import MysqlSvg from '@/assets/svgs/technologies/mysql-svg'
import AngularSvg from '@/assets/svgs/technologies/angular-svg'

const { title, tech } = Astro.props

const [width, height] = [35, 35]
---

<div class="flex items-center gap-4">
	{tech === 'typescript' && <TypescriptSvg width={width} height={height} />}
	{tech === 'github-actions' && <GithubActionsSvg width={width} height={height} />}
	{tech === 'jest' && <JestSvg width={width} height={height} />}
	{tech === 'playwrite' && <PlaywriteSvg width={width} height={height} />}
	{tech === 'react-native' && <ReactNativeSvg width={width} height={height} />}
	{tech === 'figma' && <FigmaSvg width={width} height={height} />}
	{tech === 'angular' && <AngularSvg width={width} height={height} />}
	{tech === 'mysql' && <MysqlSvg width={width} height={height} />}

	<h3 class="text-base md:text-xl">{title}</h3>
</div>
