---
import AstroIcon from '../../assets/svgs/technologies/astro-svg.tsx'
import AppwriteIcon from '../../assets/svgs/technologies/appwrite-svg.tsx'
import ClerkIcon from '../../assets/svgs/technologies/clerk-svg.tsx'
import ConvexIcon from '../../assets/svgs/technologies/convex-svg.tsx'
import CssSvg from '../../assets/svgs/technologies/css-svg'
import JavascriptIcon from '../../assets/svgs/technologies/javascript-svg.tsx'
import MongodbIcon from '../../assets/svgs/technologies/mongodb-svg.tsx'
import MongooseIcon from '../../assets/svgs/technologies/mongoose-svg.tsx'
import NextjsIcon from '../../assets/svgs/technologies/nextjs-svg.tsx'
import NodejsIcon from '../../assets/svgs/technologies/nodejs-svg.tsx'
import ReactIcon from '../../assets/svgs/technologies/react-svg.tsx'
import SassIcon from '../../assets/svgs/technologies/sass-svg.tsx'
import ShadcnIcon from '../../assets/svgs/technologies/shadcn-svg.tsx'
import StorybookIcon from '../../assets/svgs/technologies/storybook-svg.tsx'
import TailwindIcon from '../../assets/svgs/technologies/tailwind-svg.tsx'
import TypescriptSvg from '../../assets/svgs/technologies/typescript-svg.tsx'
import ReactQueryIcon from '../../assets/svgs/technologies/react-query-svg.tsx'
import TechnologiesSubCont from './TechnologiesSubCont.astro'
import SocketIOIcon from '../../assets/svgs/technologies/socketio-svg.tsx'
import Heading from '../Heading.astro'

const width = 30
const height = 30
---

<div>
	<Heading title="Technologies" type="h2" />
	<div class="flex justify-center">
		<div class="flex
		w-full
		max-w-[900px]
		flex-wrap
		justify-center
		gap-4">
			<TechnologiesSubCont title="Languages">
				<JavascriptIcon width={width} height={height} />
				<TypescriptSvg width={width} height={height} />
			</TechnologiesSubCont>

			<TechnologiesSubCont title="Frameworks and Libraries">
				<ReactIcon width={width} height={height} />
				<NextjsIcon width={width} height={height} />
				<NodejsIcon width={width} height={height} />
				<TailwindIcon width={width} height={height} />
				<AstroIcon width={width} height={height} />
				<ReactQueryIcon width={width} height={height} />
			</TechnologiesSubCont>

			<TechnologiesSubCont title="Styling">
				<CssSvg width={width} height={height} />
				<SassIcon width={width} height={height} />
				<ShadcnIcon width={width} height={height} />
				<StorybookIcon width={width} height={height} />
			</TechnologiesSubCont>

			<TechnologiesSubCont title="Databases">
				<MongodbIcon width={width} height={height} />
				<MongooseIcon width={width} height={height} />
			</TechnologiesSubCont>

			<TechnologiesSubCont title="Backend Services">
				<AppwriteIcon width={width} height={height} />
				<SocketIOIcon width={width} height={height} />
				<ClerkIcon width={width} height={height} />
				<ConvexIcon width={width} height={height} />
			</TechnologiesSubCont>
		</div>
	</div>
</div>
