---
import type { GetStaticPaths } from 'astro'
import { projectsInfo } from '@/assets/data/projects-info'
import Layout from '@/layouts/MainLayout.astro'
import { Image } from 'astro:assets'

const { id } = Astro.params

if (!id) return

let project = projectsInfo.filter((project) => +id === project.id)[0]

export const getStaticPaths = (() => {
	return projectsInfo.map((project) => ({ params: { id: project.id } }))
}) satisfies GetStaticPaths
---

<Layout title=`Miguel Moreno - ${project.title}` `>
	<div class="flex flex-col gap-6 dark:text-secondary">
		<p>title: {project.title}</p>
		<p>deployLink: {project.deployLink}</p>
		<p>repoLink: {project.repoLink}</p>
		<p>description: {project.description}</p>
		<div class="flex gap-2">technologies: {project.technologies.map((tec) => <p>{tec}</p>)}</div>
		<p>type: {project.type}</p>
		<Image src={project.cover} width={500} height={500} alt=`${project.title} cover` />
	</div>
</Layout>
