---
import Layout from '../../layouts/MainLayout.astro'
import Projects42Cont from '@/components/projects/Projects42Cont'
import Heading from '@/components/Heading.astro'
import { projectsInfo } from '@/assets/data/projects-info'
import ProjectItem from '@/components/projects/ProjectItem.tsx'

const sortedProjects = projectsInfo.sort((a, b) => {
	if (a.topProjects && !b.topProjects) return -1
	else if (!a.topProjects && b.topProjects) return 1
	return 0 // Ambos son true o ambos son false, no cambian de orden
})
---

<Layout title="Miguel Moreno - Projects">
	<Heading title="Projects" type="h1" />

	<div class="flex flex-col gap-20">
		<p class="font-light">
			Welcome to my projects section, each one reflects a step in my journey of learning and
			development. From web applications to more experimental projects, these works showcase my
			dedication to tackling diverse challenges and applying creative solutions. Through every line
			of code, you&apos;ll witness the evolution of my skills and my ongoing commitment to technical
			improvement. Step into my project corner and explore the culmination of my learning and
			development journey.
		</p>

		<!-- <SelectBuild client:visible /> -->
		<div class="grid grid-cols-1 gap-x-6 gap-y-10 p-4 md:grid-cols-2 lg:grid-cols-3">
			{
				sortedProjects.map((project) => (
					<ProjectItem
						id={project.id}
						topProjects={project.topProjects}
						title={project.title}
						description={project.description}
						technologies={project.technologies}
						repoLink={project?.repoLink}
						deployLink={project?.deployLink}
						cover={project.cover}
					/>
				))
			}
		</div>

		<div>
			<p class="mb-8 font-light">
				This are some of the projects I did while I was studing at Campus 42 Telefonica in Malaga:
			</p>

			<div class="flex flex-col gap-3"><Projects42Cont client:visible /></div>
		</div>
	</div>
</Layout>
