---
import Layout from '../../layouts/MainLayout.astro'
import { projectsInfo } from '@/assets/data/projects-info'
import ProjectItem from '../../components/projects/ProjectItem.astro'
import { SelectBuild } from '../../components/projects/SelectBuild'
import { useState } from 'react'
---

<Layout title="Miguel Moreno - Projects">
	<h1 class="dark:text-secondary">Projects</h1>

	<div class="flex flex-col gap-5">
		<p class="dark:text-secondary">
			Welcome to my projects section, each one reflects a step in my journey of learning and
			development. From web applications to more experimental projects, these works showcase my
			dedication to tackling diverse challenges and applying creative solutions. Through every line
			of code, you&apos;ll witness the evolution of my skills and my ongoing commitment to technical
			improvement. Step into my project corner and explore the culmination of my learning and
			development journey.
		</p>

		<SelectBuild client:visible />
		<div>
			{
				projectsInfo.map((project) => {
					return (
						<ProjectItem
							id={project.id}
							title={project.title}
							type={project.type}
							description={project.description}
							technologies={project.technologies}
							repoLink={project?.repoLink}
							deployLink={project?.deployLink}
							cover={project.cover}
						/>
					)
				})
			}
		</div>
	</div>
</Layout>
